/* ==========COMMON SELECTORS========== */

/* html element */
p{
    color: blue;
}
/* by class */
.myclass{
    color:red;
}
/* by id */
#myid{
    color:yellow;
}

/* ==========PROPIEDADES DE TEXTO========== */
p{
    /*Modifies the TEXT color, use hex,or rgb, NOT: red*/
    color: #ff0000;
    /* El estilo del texto, tipografia (prueba de izq a der, por compatibilidad) */
    font-family:'Courier New', Courier, monospace; /*Si el nombre tiene espacio se usa ''*/
    /* El size del texto */
    font-size: 13px;
    /* El grosor del texto (rango 100-900) (bold == 700) (bolder == siguiente nivel) */
    font-weight: bold; /* Los valores numericos funcionan dependiendo del soporte del font-family (ex: sans-serif no tiene definido 300, pero si 700)*/ 
    /* Estilo de las letras */
    font-style: italic;
    /* alinear el texto en base al box */
    text-align: center; /* Justify: Estira todo para que todo este en principio y final */
    /* decora el texto */
    text-decoration: underline; /* overline o line-through, puedes combinar */
    /* define la altura de cada linea */
    line-height: 1; /* Multiplicador, 2 = 2x, 3 = 3x; tambien acepta % */
    /* define el espaciado entre letras */
    letter-spacing: 1px; 
    /* cambia el texto (uppercase, lowercase, capitalize, none(default)) */
    text-transform: capitalize;
}


/* CONFIGURAR FONTS PROPIOS */
@font-face {
    font-family: "MiruBingsu"; /*Nombre del font*/
    /* RECOMENDABLE, colocar format() por compatibilidad .ttf = truetype */
    src: url("CedarvilleCursive-Regular.ttf") format("truetype"); 
    font-weight: 400; /* definir el peso del formato (IMPORTANTE) */
    /* RECUERDA */
    /* Los formatos no vienen junto con los distintos pesos como negrita, cada archivo es un peso diferente */
    /* En este caso, solamente venia en un peso de 400, pero la mayoria tienen varios archivos */
    /* Entonces son multiplos @font-face los que hay que definir para el funcionamiento deseado */
}


/* BORDERS */
div{
	border-width: 3px;
	border-color: #992011;
	border-style: solid;
	border: 3px #992011 black; /* width color style */
	border-top: 4px #290390 black;
	border-radius: 10px 50px 30px 40px; /* izqa dera izqab derab*/
	border-bottom-style: dashed; 
	border-radius: 50%;
}


/* BOX SIZING */
div{
	box-sizing: border-box; /* Forza a la caja a mantenerse en el size deseado, no importa el padding, margin or border que agreges, hace basicamente, que el size siempre sea el mismo ajusta el contenido para mantener la medida */
}


/* COLORES */

